<%- include("template/cabecera", {tituloWeb: 'Página de inicio'}) %>
<body>
    <h1 class="text-primary">Este es el index de EJS</h1>
    <h2><%= titulo %></h2>
    <%- include('template/footer'); %>
</body>
</html>